<div>Hello film Most</div>
<% filmMostWatched.forEach(film => { %>
    <a href="/films/<%= film.filmId %>">
<img  height="150" width="100" src="<%= films.coverImageName %>"></a>
    <% }) %>
<!-- <div >
    <div>Name:</div>
    <div>
        <%= filmMostWatched._id.name %>
    </div>
    <div>Publish Date:</div>
    <div>
        <%= filmMostWatched._id.publishDate.toDateString() %>
    </div>
</div> -->