<form action="new1" class="ui form" method="post">
<div class="field">
    <label for="name">Movie Name</label>
    <input type="text" name="name">
</div>

<div class="ui field">
    <label for="img">Image</label>
    <input type="file" name="img" id="img"  class="filepond" >
</div>
<button class="ui fluid blue button" type="submit">Save</button>
</form>